body {
    overflow-x: hidden;
    margin: 0 0}
*{font-family:Arial;}
.contacting {
    display:flex;
    justify-content: space-between;
    box-shadow: 0 3px 10px rgb(216, 212, 212);
}
.contacting div {
    width:50%;
}
.contactA {
    display:flex;
    gap:0rem;
    flex-direction: column;
    padding:0.15rem 0.5rem;
    font-size:0.6rem;
    font-weight:700
}
.contactA>div>i{
    color:orange;
    padding-left:3rem;
    padding-right:1rem;
}
.icons {
    display:flex;
    justify-content: flex-end;
    font-size:0.85rem;
    background: #222;
    gap:0.5rem;
    align-items: center;
    position:relative;
}
.icons a {
    color:white;
}
.icons>a :hover {
    color:orange;
}
.icons>a:last-child {
    margin-right: 1rem;
}
.icons::before {
    content:"";
    border-width:1.8rem;
    border-style:solid;
    border-color:white transparent transparent white;
    position: absolute;
    top:0;
    left:-0.25rem;
    /* left:0; */
}
.headerpart1 {
    display:flex;
    align-items: center;
    justify-content:space-between;
    /* border-bottom: 1px solid #dddbdb; */
    position:sticky;
    top:0;
    left:0;
    z-index:10;
    background:white;
    box-shadow:1px 3px 16px  rgb(119, 118, 118);
}
.brand {
    display:flex;
    align-items: center;
}
.brandname {
    font-family:couture;
    font-size:1.5rem;
    color:orange;
}
.brandname>span {
    font-family:couture;
    font-size:1.5rem;
    color:blue;
}
.brand>img {
    width:3.5rem;
    height:4rem;
    margin-left:1rem;
}
.plinks{
    display: none;
    gap:0.5rem;
}
.pl{
    text-decoration: none;
    color:#555;
    padding:0.4rem 1rem;
}
.pl:last-child {
    margin-right:3rem;
}
.pl:hover{
    background:black;
    color:white;
    border-radius:8px;
}
.bars:hover {
    color:purple;
}
.img-txt {
    position:relative;
}
.img-txt>img {
    width:100%;
    height:80vh;
    position: absolute;
    top:0;
    left:0;
    z-index:-1;
    filter:brightness(40%);
    object-fit:cover;
    object-position: center top;
}
.bgtext {
    font-size:2.7rem;
    font-weight: 700;
    text-align:center;
    padding-top:5rem;
    color:white;
    text-shadow: -3px 3px 5px rgb(192, 187, 187);
}
.clickgo {
    display:flex;
    flex-direction: column;
    gap:1rem;
    margin-top:6rem;
    align-items: center;
}
.clickgo>a {
    text-decoration:none;
}
.clickgo>a:first-child {
    text-transform:uppercase;
    color:orange;
    font-size:1rem;
    border: 1px solid orange;
    padding:1.5rem 2.35rem;
    border-radius:2rem;
    transition: all 400ms ease-in-out;
}
.clickgo>a:first-child:hover{
    background:rgb(243, 180, 62);
    color: white;
}
.clickgo>a:last-child {
    text-transform:uppercase;
    color:aqua;
    font-size:1rem;;
    border: 1px solid aqua;
    padding:1.5rem 4.15rem;
    border-radius: 2rem;
}
.clickgo>a:last-child:hover {
    background:rgb(79, 133, 133);
    color:white;
}
.allsec {
    width:80%;
    margin:0 auto;
}
.fsections{
    display:flex;
    flex-direction:column;
    gap:2.2rem;
    align-items:center;
    justify-content:center;
    margin-top:2rem;
    margin-bottom: 3rem;
}
.sec1 {
    height:15rem;
    width:90%;
    display:flex;
    position: relative;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    border-top-left-radius:3rem;
    border-bottom-right-radius:3rem;
    background:white;
    box-shadow: 1px 1px 4px rgb(202, 199, 199);
    transition: all 300ms ease-in-out;
}
.sec1:hover {
    box-shadow: 2px 2px 10px rgb(148, 146, 146);
    transform: translateY(-1rem);
    background:orangered;
    color:white;
}
.sec1:hover div{
    color:white;
}
.sec1 div {
    font-weight:bold;
    font-size:1rem;
    text-transform: capitalize;
    padding-top:2rem;
    color:rgb(48, 47, 47);
}
.ssection {
    height:fit-content;
    padding:3rem 0;
    position: relative;
    /* background: -webkit-linear-gradient(bottom, yellow, blue); */
}
.ssectionimg {
    background: url(./assets/images/pexels.jpg);
    width:100%;
    height:100%;
    position: absolute;
    top:0;
    left:0;
    z-index: -1;
    filter:brightness(40%);
}
.allsec2 {
    width:80%;
    margin: 0 auto;
}
.all-circle{
    display:flex;
    flex-direction:column;
    gap:1.2rem;
    align-items: center;
    justify-content: center;
}
.circle-container {
    /* width:90%; */
    width:fit-content;
    position: relative;
}
.scircle1{
    width:19rem;
    height:19rem;
    border-radius: 50%;
    border-top:1rem solid white;
    border-right:1rem solid transparent;
    border-bottom: 1rem solid white;
    border-left: 1rem solid transparent;
    animation: scircle1 1s linear infinite;
}
@keyframes scircle1 {
    0%{
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.scircle2{
    width:14rem;
    height:14rem;
    position: absolute;
    top:11%;
    left:12.5%;
    border-radius: 50%;
    border-top:1rem solid white;
    border-right:1rem solid transparent;
    border-bottom: 1rem solid white;
    border-left: 1rem solid transparent;
    animation: scircle2 1s linear infinite;
}
@keyframes scircle2 {
    0%{
        transform: rotate(-0deg);
    }
    50% {
        transform: rotate(-180deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}
.scircle3{
    width:9rem;
    height:9rem;
    position: absolute;
    top:21%;
    left:24%;
    border-radius: 50%;
    border-top:1rem solid white;
    border-right:1rem solid transparent;
    border-bottom: 1rem solid white;
    border-left: 1rem solid transparent;
    animation: scircle3 1s linear infinite;
}
@keyframes scircle3 {
    0%{
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.circleno {
    font-size:2rem;
    color:white;
    text-align: center;
    text-shadow: -2px 2px 10px lightgrey;
    position:absolute;
    top:38%;
    left:0;
    width:100%;
}
.circletitle {
    font-size:1.5rem;
    color:white;
    text-align: center;
    text-shadow: -2px 2px 10px lightgrey;
    margin-top: 2rem;
}
.giftxt {
    width:80%;
    margin:0 auto;
}
.tsection {
    display:flex;
    flex-direction: column;
    gap:1rem;
    align-items: center;
    margin-top: 3rem;
}
.tsection>div {
    width:100%;
}
.ggif img {
    width:100%;
}
.gtxthead {
    font-size:2rem;
    font-weight:bold;
    color:blue;
    padding-bottom: 1rem;
    text-shadow: 2px 2px 10px rgb(112, 110, 110);
}
.gtxthead span {
    color:red;
}
.gtxth2 {
    text-align: right;
}
.gtxtsub {
    font-size: 0.9rem;
    padding-bottom: 1rem;
    line-height:1.3rem;
    color:#292828;
    text-align: justify;
}



/* media screens */

@media screen and (min-width:768px) {
    .contacting {
        display:flex;
    }
    .contactA {
        font-size:0.70rem;
        font-family: 'Courier New', Courier, monospace;
        font-weight:548;
        gap:0;
        padding:1rem 0;
    }
    .contactA>div{
        text-align:center;
    }
    .icons {
        font-size:1.1rem;
        gap:1.5rem;
    }
    .icons>a:last-child {
        margin-right: 4rem;
    }
    .brandname {
        font-size:2rem;
    }
    .brandname>span {
        font-family:couture;
        font-size:2rem;
        color:blue;
    }
    .brand>img {
        width:4rem;
        height:4.5rem;
        margin-left:2rem;
    }
    .clickgo {
        flex-direction: row;
        justify-content: center;
    }
    .fsections{
        margin-top:8rem;
    }
    .contactA>div>i{
        padding-left: 0;
        padding-right:0.5rem;
    }
    
}

@media screen and (min-width:992px) {.contacting {
    display:flex;
}
.contactA {
    font-size:0.9rem;
    font-family: arial;
    font-weight: 0;
    gap:0.5rem;
    flex-direction: column;
    padding:0.5rem 0;
    font-size:0.9rem;
}
.contactA>div>i{
    padding-left: 3rem;
    padding-right:1rem;
}
.contactA>div{
    text-align:justify
}

.icons {
    font-size:1.3rem;
    gap:2rem;
}
.icons>a:last-child {
    margin-right: 3rem;
}
.brand>img {
    width:4rem;
    height:4.5rem;
    margin-left:2rem;
}
.plinks{
    display: flex;
}
.bars{
    display:none;
}
.clickgo {
    flex-direction: row;
    justify-content: center;
}
.fsections{
    flex-direction:row;
    margin-top:8rem;
    margin-bottom: 5.5rem;
}
.sec1 {
    width:32%;
}
.sec1:hover {
    transform: translateY(-2rem);
}
.all-circle{
    flex-direction:row;
    gap:1.5rem;
}
.circle-container {
    width:32%;
}
.tsection {
    display:flex;
    flex-direction:row;
    margin-top: 0;
}
.tsection>div {
    width:50%;
}
}